@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@700&display=swap');
#jews{
    color:white;
}
#jews:hover{
    background: white;
    color: black;
border-radius: 5px;
padding: 5px;
}
:root{
    --primary:hsl(200, 4%, 14%, 0.75);
    --secondary:hsl(210, 3%, 26%, 0.75);
}
nav{
    background: linear-gradient(135deg, var(--primary), var(--secondary));

}
#test{
    color: white;
}
#test1{
    color: white;
    background: black;
    border-radius: 5px;
}
img{
    height: 760px;
}